In [1]:
# Import dependencies

# Basic libs
import pandas as pd
from pathlib import Path
import numpy as np
import warnings

# Model Libs
from sklearn import linear_model
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from scipy import stats
import statsmodels.api as sm
import statsmodels.formula.api as smf
import statsmodels.stats.api as sms
from statsmodels.compat import lzip

# Viz Libs
import matplotlib.pyplot as plt
import seaborn as sns
from mpl_toolkits.mplot3d import Axes3D

In [3]:
warnings.filterwarnings('ignore')

In [4]:
plt.rcParams['figure.figsize'] = (7,7)
plt.style.use('ggplot')

In [5]:
# import data
df = pd.read_csv(Path('./Resources/MergedCSV_sql_FLOAT.csv'))
df.head()

,Unnamed: 0,address,city,zipcode,latitude,longitude,bathrooms,bedrooms,lotsize,date_sold,price,zestimate,median_income
0,0,4008 SE Kelly St,Portland,97202,45.499569,-122.621201,1,2,4356,5/20/2021,535000,550300,39879.0
1,1,6936 SE 28th Ave,Portland,97202,45.473526,-122.634125,2,4,4791,8/16/2020,775000,874600,39879.0
2,2,1515 SE Claybourne St,Portland,97202,45.475349,-122.650620,1,2,5227,5/4/2021,521000,539700,39879.0
3,3,7941 SE 36th Ave,Portland,97202,45.465736,-122.626526,3,4,6098,12/13/2020,830000,903000,39879.0
4,4,6908 SE Cesar E Chavez Blvd,Portland,97202,45.473179,-122.622284,2,3,6969,8/11/2020,525000,598800,39879.0

In [6]:
df.dtypes

Unnamed: 0         int64
address           object
city              object
zipcode            int64
latitude         float64
longitude        float64
bathrooms          int64
bedrooms           int64
lotsize            int64
date_sold         object
price              int64
zestimate          int64
median_income    float64
dtype: object

In [7]:
# all column names
df.columns

Index(['Unnamed: 0', 'address', 'city', 'zipcode', 'latitude', 'longitude',
       'bathrooms', 'bedrooms', 'lotsize', 'date_sold', 'price', 'zestimate',
       'median_income'],
      dtype='object')

## Data Prep

In [12]:
#check shape of features and response variable

features = ['zipcode', 'bathrooms', 'bedrooms', 'lotsize', 'median_income']
target = 'price'

X = df[features].values.reshape(-1, len(features))
y = df[target].values

In [13]:
print(X.shape)
print(y.shape)

(5853, 5)
(5853,)

In [14]:
# Create range for each dimension

t = X[:,0]
u = X[:,1]
v = X[:,2]
w = X[:,3]
x = X[:,4]
z = y

In [ ]:
# Predict using model built on previous step

tt_pred = np.linspace( , , ) #range of values

In [7]:
# find regression coefficient and y-intercept- Note ols stands for Ordinary Least Squares
# ols = linear_model.LinearRegression()
# model = ols.fit(X,y)

predicted = model.predict(model_viz)

In [8]:
model.coef_

array([-1.02345379e+04,  1.22157052e+05,  4.41687871e+04,  4.33964524e-04,
        6.53320532e+00])

In [9]:
model.intercept_

994818024.6130513

In [ ]:
# create scaler instance and fit it
Scaler = StandardScaler()
scaler.fit( DF_DATA )

In [ ]:
# scale the data 
Scaled_data = scaler.transform( DF_DATA )

In [ ]:
# Create dataframe with scaled data?
transformed_scaled_data = pd.DataFrame(scaled_data, columns= DF_DATA .columns)
transformed_scaled_data.head()

Split train test
use the standard 75/25?

In [ ]:
# Split data into training and testing sets

Instantiate Model
which model will we use?
multiple linear regression

In [ ]:
# instantiate model

In [ ]:
# fit model

In [ ]:
# test model with test set data

Get accuracy scores and summaries