In [1]:
# Import dependencies
import pandas as pd
import csv
import os

from sqlalchemy import create_engine
import psycopg2

from config import db_password

import warnings
warnings.filterwarnings('ignore')

In [2]:
# Create the path to my file directory for the data files.
file_dir = 'C:/Users/abror/Desktop/Vanderbilt/MyRepo/Module20_Final Project/Portland_Housing_Prices/Resources'

# Read in the Portland Housing Prices and Portland Median income CSV files as Pandas DataFrames.
housing_prices = pd.read_csv(f'{file_dir}/Portland_housing_w_rooms_reduced-zips.csv', low_memory=False)
median_income = pd.read_csv(f'{file_dir}/PortlandMedianIncomebyZip.csv')

In [3]:
# Create the Database Engine
conn_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/Portland_Housing_Prices"
db = create_engine(conn_string)
conn = db.connect()

# Insert Portland Housing Prices table to an existing PostgreSQL table using sqlalchemy
housing_prices.to_sql('housing_prices', con=conn, if_exists='replace', index=False)
conn = psycopg2.connect(conn_string)
conn.autocommit = True
cursor = conn.cursor()

# Check to make sure all the columns & rows were imported
Table1_Check = pd.read_sql_query("SELECT * FROM housing_prices", con=conn)
Table1_Check

,abbreviatedaddress,city,zipcode,latitude,longitude,bathrooms,bedrooms,lotsize,daysonzillow,date_sold,price,zestimate,rentzestimate,propertytaxrate,taxassessedvalue,taxassessedyear
0,19725 Cherrywood Way,Oregon City,97045,45.319950,-122.607986,3,4,4791,10,7/15/2021,550000,552500,2856,1.08,463856,2020
1,6002 NE 33rd Ave,Portland,97211,45.566624,-122.630440,2,3,4791,11,7/15/2021,500000,584000,2923,1.12,492590,2020
2,3172 SE 28th St,Gresham,97080,45.477249,-122.399887,3,3,5227,6,7/15/2021,485000,491300,1527,1.12,339110,2020
3,3285 SW Wallula Ave,Gresham,97080,45.473774,-122.446503,3,3,15681,6,7/15/2021,500000,505200,1997,1.12,429240,2020
4,5614 NE 18th Ave,Portland,97211,45.563541,-122.646706,1,3,5000,11,7/15/2021,585000,587200,2465,1.12,373230,2020
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11849,16320 SW Sylvan Ct,Tigard,97224,45.401699,-122.780655,3,4,7405,357,6/18/2020,475000,544539,2795,1.13,432410,2019
11850,14175 SW Walnut Creek Way,Tigard,97223,45.433132,-122.821594,3,3,3049,359,6/16/2020,450000,516147,2495,1.13,435020,2019
11851,11949 SW Bull Mountain Rd,Tigard,97224,45.414082,-122.800179,3,4,18730,360,6/16/2020,618000,711321,2575,1.13,464170,2019
11852,547 SE 6th Ave,Hillsboro,97123,45.516758,-122.981148,1,1,3049,361,6/15/2020,315000,361491,1495,1.13,211450,2019
11853,741 NE Grant St,Hillsboro,97124,45.528576,-122.977852,2,3,16117,364,6/12/2020,410500,471453,2195,1.13,353830,2019

In [4]:
# Create the Database Engine
conn_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/Portland_Housing_Prices"
db = create_engine(conn_string)
conn = db.connect()

# Insert Portland Median Income table to PostgreSQL
median_income.to_sql('median_income', con=conn, if_exists='replace', index=False)
conn = psycopg2.connect(conn_string)
conn.autocommit = True
cursor = conn.cursor()

# Check to make sure all the columns & rows were imported
Table2_Check = pd.read_sql_query("SELECT * FROM median_income", con=conn)
Table2_Check

     #  zipcode                location              city   avg_income
0    1    97229  45.550653, -122.800197  Portland,Â Oregon  $70,082.00
1    2    97221  45.496540, -122.728969  Portland,Â Oregon  $65,229.00
2    3    97231  45.674300, -122.839313  Portland,Â Oregon  $65,164.00
3    4    97219  45.455096, -122.700631  Portland,Â Oregon  $58,461.00
4    5    97212  45.544232, -122.643617  Portland,Â Oregon  $53,679.00
5    6    97225  45.502074, -122.770530  Portland,Â Oregon  $53,020.00
6    7    97223  45.439710, -122.780767  Portland,Â Oregon  $52,527.00
7    8    97267  45.408427, -122.612867  Portland,Â Oregon  $49,742.00
8    9    97215  45.515050, -122.597392  Portland,Â Oregon  $48,262.00
9   10    97224  45.404971, -122.794448  Portland,Â Oregon  $46,558.00
10  11    97213  45.539290, -122.594209  Portland,Â Oregon  $44,395.00
11  12    97236  45.467602, -122.503512  Portland,Â Oregon  $43,515.00
12  13    97210  45.544186, -122.726656  Portland,Â Oregon  $42,759.00
13  14    97201  45.500236, -122.693325  Portland,Â Oregon  $42,569.00
14  15    97230  45.542903, -122.501034  Portland,Â Oregon  $41,262.00
15  16    97222  45.440273, -122.615888  Portland,Â Oregon  $40,899.00
16  17    97211  45.576781, -122.639907  Portland,Â Oregon  $40,582.00
17  18    97202  45.479389, -122.641179  Portland,Â Oregon  $39,879.00
18  19    97220  45.558978, -122.542556  Portland,Â Oregon  $39,649.00
19  20    97217  45.604409, -122.704613  Portland,Â Oregon  $38,442.00
20  21    97216  45.513930, -122.558810  Portland,Â Oregon  $38,066.00
21  22    97206  45.481159, -122.598300  Portland,Â Oregon  $38,040.00
22  23    97266  45.472611, -122.557503  Portland,Â Oregon  $37,234.00
23  24    97218  45.576291, -122.600896  Portland,Â Oregon  $37,011.00
24  25    97232  45.529610, -122.643921  Portland,Â Oregon  $35,755.00
25  26    97233  45.514321, -122.496997  Portland,Â Oregon  $35,291.00
26  27    97203  45.598977, -122.748018  Portland,Â Oregon  $35,266.00
27  28    97214  45.513962, -122.644031  Portland,Â Oregon  $35,013.00
28  29    97227  45.538229, -122.679346  Portland,Â Oregon  $27,432.00
29  30    97209  45.529896, -122.684777  Portland,Â Oregon  $22,185.00
30  31    97205  45.520414, -122.688800  Portland,Â Oregon  $18,158.00
31  32    97204  45.518775, -122.675276  Portland,Â Oregon  $10,465.00